<settings>
<setting id="video_stream" label="30000" type="enum" values="Auto|H.264 (480Kb)|H.264 (800kb)|H.264 (1500kb)|H.264 (3200kb)" default="Auto"/>
<setting id="audio_stream" label="30001" type="enum" values="Auto|MP3|Real|AAC|WMA" default="Auto"/>
<setting id="provider" label="30080"  type="enum" values="Any|Akamai|Limelight" default="Akamai" />
<setting id="progcount" label="30006" type="bool" default="true" />
<setting id="thumbnail_size" label="30007" type="enum" values="Biggest|Large|Small|Smallest|None" default="Large"/>
<setting id="subtitles_control" label="30025"  type="enum" values="None|Download and Play|Download to File" default="None" />
<setting id="socket_timeout" label="30050" type="integer" default="5" />
<setting id="stream_timeout" label="30090" type="integer" default="600" />
<setting id="displaydialog" label="30060" type="bool" default="true" />
<setting id="enhanceddebug" label="30070" type="bool" default="false" />
</settings>
